body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b0c2a;
  background-image: url('Space.png');
  background-size: cover;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: moveRightToLeft 6s linear infinite;
  overflow-x: hidden;
}

/* Background animation: right to left */
@keyframes moveRightToLeft {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Rocket container */
.rocket {
  position: absolute;
  bottom: 195px;
  left: 60%;
  transform: translateX(-40%);
  animation: floatRocket 3s ease-in-out infinite;
}

.rocket img {
    width: 50%;
    transform: rotate(40deg);
}

/* Cody (astronaut) positioning */
.cody {
  position: absolute;
  bottom: 248px;
  left: 5%;
  transform: translateX(-50%);
  animation: floatCody 6s ease-in-out , infinite;
}

.cody img {
  width: 80px;
}

/* Rocket floating animation */
@keyframes floatRocket {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* Cody floating animation */
@keyframes floatCody {
  0% {
    left: 7%;
}
  50% {
    left: 30%;
}
  100% {
    left: 75%;
}
}